#sfnav_search_box_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(25,25,25,0.4);
    z-index: 51100;
    visibility: hidden;
}

#sfnav_search_box {
    overflow:hidden;
    z-index: 51101;
    top:20%;
    left:20%;
    right:20%;
    position:fixed;
    padding:9px 18px 9px 18px;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 0 6px 20px 0;
    background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;

    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#sfnav_search_box .sfnav_input-line input {
    position: relative;
    flex: 1;
    display: inline-block;
    width:90%;
    outline: none;
    border: 0 none;
    background-color:white;
    color: #333;
    font-size:24px;
    font-weight:100;
}

#sfnav_search_box .sfnav_input-line {
    position: relative;
    height: 48px;
    display: flex;

    padding: 0 10px;
    border-radius: 5px;

    margin-top: 3px;
    margin-bottom: 1px;

    border: 1px solid #d0d0d0;
    box-shadow: 0 0 4px #e5e5e5;
}

#sfnav_search_box .sfnav_input-line.unfocused {
    border: 1px solid #eee;
    box-shadow: none;
}


#sfnav_search_box #sfnav_results {
    max-height: 335px;
    overflow: auto;
    /*border-top: 1px solid #eee;*/
    border-bottom: 1px solid #eee;
}
#sfnav_results .sfnav_child {
    display: block;
    color: #333;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    border-top: 1px solid #f0f0f0;
}
#sfnav_results .sfnav_child:first-child {
    border-top: 0 none;
}

#sfnav_results .sfnav_child.sfnav_selected.sfnav_preselected {
    background-color: #f8f8f8;
}
#sfnav_results .sfnav_child.sfnav_selected {
    background-color: #eeeeee;
    color: #000;
}

#sfnav_results .sfnav_child.sfnav_selected.sfnav_preselected:hover,
#sfnav_results .sfnav_child.sfnav_selected:hover,
#sfnav_results .sfnav_child:hover {
    background-color: #EBFBFF;
}
#sfnav_results .sfnav_child .sfnav_hip:after {
    content: " (" attr(title) ")";
    color: grey;
}


#sfnav_results .highlighted {
    background-color: #ffff60;
}

#sfnav_logo {
    width:48px;
    height:48px;
    display: inline-block;
}

#sfnav_search_box .input-line .loading {
    visibility: hidden;
    display: inline-block;
    /* flex: 1; */
    width: 16px;
    height: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.sfnav_splitter {
    font-size: 0;
}
.sfnav_splitter::before {
    padding: 0 2px;
    content: ' ❯ ';
    color: rgba(11, 151, 196, 0.77);
    font-size: 16px;
    font-weight:100;
}
